# Application
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=your_database_url_here
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your_postgres_password
DATABASE_NAME=orders_db

# RabbitMQ
RABBITMQ_URL=your_rabbitmq_url_here
RABBITMQ_QUEUE=your_rabbitmq_queue_here

# Prisma

# API
API_PREFIX=api/v1
